.card-container{
    background-color:white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2%;
    justify-content: space-evenly;
}
.card{
    flex-basis: 30%;
    padding: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card-img{
    justify-content: center;
}
.card-title-container{
    display: flex;
}
.card-title{
    justify-content: flex-start;
    flex-basis: 40%;
    font-family: sans-serif;
    padding-right: 2%;
}
.card-title-name{
    justify-content: flex-end;
    flex-basis: 60%;
    color: darkcyan;
}
.card-genre{
    justify-content: flex-start;
    flex-basis: 40%;
    font-family: sans-serif;
    padding-right: 2%;
}
.card-genre-name{
    justify-content: flex-end;
    flex-basis: 60%;
    color: darkcyan;
}
.card-rating{
    justify-content: flex-start;
    flex-basis: 40%;
    font-family: sans-serif;
    padding-right: 2%;
}
.card-rating-number{
    justify-content: flex-end;
    flex-basis: 60%;
    color: darkcyan;
}
.card-genre-container{
    display: flex;
}
.card-rating-container{
    display: flex;
}
.loader {
    margin: 0 45%;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }