.footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #133154;
    justify-content: space-evenly;
}
.footer a {
    color: white;
    padding: 35px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.footer a:hover {
    
    color: black;
  }