

/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
   
  }

  .header-title {
      display: flex;
      justify-content: center;
  }
  
  /* Style the header links */
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active/current link*/
  /* .header a.active {
    background-color: dodgerblue;
    color: white;
  } */
  
  /* Float the link section to the right */
  .header-items {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
  }
  .header-items .icon{
    display: none;
  }
  .search-box .country-drop .platform-drop .type-drop {
      height: 40px;
      width: 200px;
  }
  .language-drop{
    height: 40px;
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen  and (max-width: 850px) {
    .header-items {
        display: block;
        float: left;
      }
    
    .header-items a:not(:first-child){
      display: none;
    }
    .header-items input{
        display: none;
    }
    .header-items select {
        display: none;
    }
    .header-items a.icon{
      display: flex;
      position: absolute;
      right: 0;
    }
  }

  @media screen  and (max-width: 850px) {

    .header-items.responsive{
      display : grid;
      float: none;
      width: 90%;
    }
    .header-items.responsive a {
        display: block;
        margin: 3%;
    }
    .header-items.responsive input {
        display: block;
        height: 40px;
        width: 90%;
        margin: 3%;
    }
    .header-items.responsive select {
        display: block;
        height: 40px;
        width:  90%;
        margin: 3%;
    }

    
    .header-items.responsive.icon{
        position: absolute;
        right: 0;
        background-color:green;
    }
}